<div class="container">
  <h1>Sign In</h1>
    <div class="row well">
      <div class="col-md-6 col-md-offset-3">
        <form class="form" action="/fn_login" method="post">
            <div class="form-group">
                Email<input class="form-control" required type="text" id="email" name="email">
            </div>
            <div class="form-group">
                Password<input class="form-control" required type="password" id="passwd" name="passwd">
            </div>
            <div class="form-group">
              <label class="label label-warning" id="lbl">{{msg}}</label>
            </div>
            <button id="submit" class="btn btn-success" type="submit">Sign In</button>
        </form>
      </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $("#lbl").delay(1000).fadeOut(100);
</script>
